@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
:root {
	--White: #ffffff;
	--Black: #303841;
	--Gray: #777777;
	--Yellow: #f6c90e;
}
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: Rubik, sans-serif;
	color: #303841;
}
.main-content {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
	/* padding: 0 20px; */
	max-width: 760px;
	margin: 0 auto;
}
.main-content::before {
	content: "";
	display: block;
	position: fixed;
	width: 300%;
	height: 100%;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	transform: translateX(-50%) skewY(-8deg);
	background-color: #f6c90e;
	z-index: -1;
	/* -webkit-animation: wave 8s ease-in-out infinite alternate; */
	animation: wave 5s ease-in-out infinite alternate;
}
@keyframes wave {
	from {
		transform: translate(-40%, -5%) skewY(-3deg);
	}
	to {
		transform: translate(-50%, -8%) skewY(-8deg);
	}
}
.card {
	background-color: #fff;
	box-sizing: border-box;
	width: 360px;
	height: 600px;
	box-shadow: 0 3.2px 2.2px rgb(0 0 0 / 2%), 0 7px 5.4px rgb(0 0 0 / 3%),
		0 12.1px 10.1px rgb(0 0 0 / 4%), 0 19.8px 18.1px rgb(0 0 0 / 4%),
		0 34.7px 33.8px rgb(0 0 0 / 5%), 0 81px 81px rgb(0 0 0 / 7%);
	border-radius: 30px;
	overflow: hidden;
	padding: 0 28px;
	position: relative;
	margin-bottom: 20px;
}
.card::before {
	content: "";
	width: 300px;
	height: 300px;
	position: absolute;
	background-color: var(--Yellow);
	top: -20%;
	left: -50%;
	z-index: 0;
	border-radius: 100%;
	display: block;
}
.card-top {
	position: relative;
	margin: 12px 0;
}
.card-top-logo {
	display: block;
	width: 50px;
}
.card-title {
	font-size: 24px;
	font-weight: 700;
	margin: 16px 0;
	position: relative;
}

.shop-item {
	padding: 40px 0;
}
.shop-item:first-child {
	padding-top: 0;
}
.shop-item-image {
	border-radius: 30px;
	height: 380px;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.shop-item-image img {
	display: block;
	width: 100%;
	filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
	transform: rotate(-24deg);
	margin-left: -16px;
}
.card-body {
	height: calc(100% - 98px);
	position: relative;
	overflow-y: scroll;
}
.shop-items {
	overflow: auto;
}
.card-body::-webkit-scrollbar {
	display: none;
}
.shop-item-name {
	font-size: 20px;
	font-weight: 700;
	margin: 26px 0 20px;
	line-height: 1.5;
}
.shop-item-description {
	font-size: 13px;
	line-height: 1.8;
	margin-bottom: 20px;
	color: #777;
}
.shop-item-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shop-item-button {
	cursor: pointer;
	background-color: var(--Yellow);
	font-weight: 700;
	font-size: 14px;
	box-sizing: border-box;
	width: auto;
	height: 46px;
	min-width: 46px;
	padding: 16px 20px;
	border-radius: 100px;
	transition: all 0.25s ease;
	user-select: none;
	white-space: nowrap;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.shop-item-button:hover {
	background-color: #f8d43f;
	box-shadow: -2px 2px 4px rgb(0 0 0 / 15%);
}
.shop-item-price {
	font-size: 18px;
	font-weight: 700;
}
/* circle_click */
.shop-item-button.circle {
	border-radius: 100%;
	cursor: default;
	width: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shop-item-button.circle .icon-check {
	width: 20px;
	height: 20px;
	object-fit: cover;
}
.shop-item-button.circle:hover {
	box-shadow: none;
	background-color: var(--Yellow);
}

/* card right */
.cart-title-amount {
	float: right;
}

.cart-item {
	display: flex;
	padding: 20px 0;
}
.running {
	display: flex;
	padding: 20px 0;
	animation: smooth ease-in-out 0.6s;
}
.delete-effect {
	/* display: flex;
	padding: 20px 0; */
	animation: deleteEffect ease-in-out 0.6s;
}
@keyframes deleteEffect {
	to {
		transform: translateX(340px);
		transition: 3s ease-in-out;
		/* transform: scale(1); */
	}
}
.cart-item-left {
	flex: 0;
}
.cart-item-image {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background-color: #eee;
	margin-right: 34px;
}
.cart-item-image-block img {
	display: block;
	width: 140%;
	transform: rotate(-28deg) translateY(-40px);
	filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
}
.cart-item-right {
	flex: 1;
}
.cart-item-name {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 10px;
}
.cart-item-actions {
	display: flex;
}
.cart-item-price {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 16px;
}
.cart-item-count {
	flex: 1;
}
.cart-item-actions,
.cart-item-count {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.cart-item-remove {
	width: 28px;
	height: 28px;
	cursor: pointer;
	transition: all 0.25s ease;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f6c90e;
	transition: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cart-item-remove img {
	width: 16px;
	height: 16px;
}
.cart-item-count-button {
	cursor: pointer;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 100%;
	background-color: #eee;
	font-size: 16px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cart-item-count-number {
	font-size: 14px;
	margin: 0 8px;
	width: 20px;
	text-align: center;
}
.card-title-amount {
	float: right;
}
.cart-empty {
	position: absolute;
}
.cart-empty-text {
	font-size: 14px;
}
.cart-item-count-button:hover {
	background-color: rgb(221, 218, 218);
}
.cart-item-remove:hover {
	background-color: #f8d43f;
	box-shadow: -2px 2px 4px rgba(80, 79, 79, 0.15);
}
@keyframes smooth {
	from {
		/* transform: translateX(340px);
		transition: 3s ease-in-out; */
		transform: scale(0);
	}
	to {
		/* transform: translateX(-4px);
		transition: 3s ease-in-out; */
		transform: scale(1);
	}
}
@media only screen and (max-width: 320px) {
	.card {
		width: 300px;
		height: 480px;
		padding: 0 14px;
	}
}

@media screen and (max-width: 480px) {
	.card {
		width: 340px;
	}
}
@media screen and (max-width: 800px) {
	.card {
		margin: 20px auto;
	}
	.main-content {
		height: auto;
		flex-direction: column;
	}
}
